<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Blak | Multi-Purpose HTML5 Template </title>
<meta name="keywords" content="" />
<meta name="description" content="">
<meta name="author" content="">

<!-- Mobile view -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Favicon -->
<link rel="shortcut icon" href="images/fav-icon.ico">
<link rel="stylesheet" type="text/css" href="js/bootstrap/bootstrap.min.css">

<!-- Google fonts  -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet"> 

<!-- Template's stylesheets -->
<link rel="stylesheet" href="js/megamenu/stylesheets/screen.css">
<link rel="stylesheet" href="css/theme-default.css" type="text/css">
<link rel="stylesheet" href="js/loaders/stylesheets/screen.css">
<link rel="stylesheet" href="css/corporate.css" type="text/css">
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="fonts/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen" />
<link rel="stylesheet" href="fonts/et-line-font/et-line-font.css">

<!-- Template's stylesheets END -->

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Style Customizer's stylesheets -->

<link rel="stylesheet/less" type="text/css" href="less/skin.less">
<!-- Style Customizer's stylesheets END -->

<!-- Skin stylesheet -->

</head>
<body>
<div class="over-loader loader-live">
  <div class="loader">
			<div class="loader-item style5">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
			
		</div>
</div>
<!--end loading--> 



<div class="wrapper-boxed">
  <div class="site-wrapper">
    <div class="col-md-12 nopadding">
      <div class="header-section white dark-dropdowns style1 links-dark pin-style">
        <div class="container">
          <div class="mod-menu">
            <div class="row">
              <div class="col-sm-2"> <a href="index.html" title="" class="logo mar-4"> <img
                    src="images/logo/logoGZ.png" alt=""> </a> </div>
              <div class="col-sm-10">
                <div class="main-nav">
                  <ul class="nav navbar-nav top-nav">
                    <li class="visible-xs menu-icon"> <a href="javascript:void(0)" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#menu" aria-expanded="false"> <i aria-hidden="true"
                          class="fa fa-bars"></i> </a> </li>
                  </ul>
                  <div id="menu" class="collapse">
                    <ul class="nav navbar-nav">
                      <li class=""> <a href="#main" class="smoothscroll">Главная</a> <span class="arrow"></span>
                      </li>

                      <li class=""> <a href="#blog" class="smoothscroll">О нас</a> <span class="arrow"></span>
                      </li>
                      <li class=""> <a href="#find" class="smoothscroll">Поиск города</a> <span class="arrow"></span>
                      </li>
                      <li class="right"> <a href="#weather-forecast" class="smoothscroll">Прогноз</a></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end menu-->

    </div>
    <!--end menu-->
  

<section class="sec-padding">
    <div class="container">
      <div class="row">
      
		<div class="col-md-8 col-sm-12 col-xs-12 text-left">
        <div class="error_holder two bmargin">
        <h2 class="uppercase">Oops... Page Not Found!</h2>
        <p>Sorry the Page Could not be Found here. Try using the button below to go to main page of the site</p>
        <br/>
        <br/>
        <br/>
        <div class="error-search-box">
          <form method="get" action="index.html">
            <input class="email_input" name="samplees" id="samplees" value="E-mail Address" onFocus="if(this.value == 'E-mail Address') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'E-mail Address';}" type="text">
            <input name="" value="Search" class="input_submit" type="submit">
          </form>
        </div>
      </div>
      </div>
      <!--end item-->
      
      
      <div class="col-md-4 col-sm-12 col-xs-12 bmargin">
      <br/>
        <h1 class="uppercase error-title-big text-orange-2">404</h1>
      </div>
      <!--end item-->

      </div>
    </div>
  </section>
  <!--end item -->
  <div class="clearfix"></div>
     
    

  <div class="sec-padding section-fulldark">
    <div class="container">
      <div class="row">
        <div class=" col-md-12 col-centered text-center"> <img src="images/logo/logo.png" alt=""/>
          <div class="clearfix"></div>
          <br/>
          <br/>
          <h4 class="text-white">Address</h4>
          <h6 class="text-light opacity-6">1234 new lorem Rd.<br/>
            ipsum city, cA 012345<br/>
            (0123) 123-456-789</h6>
          <div class="clearfix"></div>
          <ul class="footer-quick-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="divider-line solid light opacity-1"></div>
          <ul class="footer-social-icons round">
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="active" href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
          <div class="col-md-12">
            <p class="text-gray">Copyright © 2017 <br/>
              Design & Developed by Codelayers</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- end section --> 

    
  
    
    <a href="#" class="scrollup"></a><!-- end scroll to top of the page--> 
    
  </div>
  <!--end site wrapper--> 
</div>
<!--end wrapper boxed--> 

<!-- Scripts --> 
<script src="js/jquery/jquery.js"></script> 
<script src="js/bootstrap/bootstrap.min.js"></script> 

<script src="js/less/less.min.js" data-env="development"></script> 

<!-- Scripts END --> 

<!-- Template scripts --> 
<script src="js/megamenu/js/main.js"></script> 
<script src="js/owl-carousel/owl.carousel.js"></script> 
<script src="js/owl-carousel/custom.js"></script> 
 
<script>
    $(window).load(function(){
      setTimeout(function(){

        $('.loader-live').fadeOut();
      },1000);
    })

  </script>
<script src="js/functions/functions.js"></script> 

</body>
</html>
